commands:
  01_upgrade_bundler:
    command: "/opt/rubies/ruby-current/bin/gem update bundler --no-document"
  02_cleanup_old_gems:
    command: "/opt/rubies/ruby-current/bin/gem cleanup"
  03_nokogiri_config:
    command: "bundle config build.nokogiri --use-system-libraries"
  04_pg_config:
    command: "bundle config build.pg --with-pg-config=/usr/pgsql-9.6/bin/pg_config"
