commands:
  remove_old_cron:
    command: "rm *.bak"
    cwd: "/etc/cron.d"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/rake.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_CURRENT_DIR
      su -s /bin/bash -c "bundle exec rake RAILS_ENV=production $1" $EB_APP_USER
  "/etc/cron.d/cron_jobs":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /opt/elasticbeanstalk/hooks/appdeploy/post/rake.sh cron:one_minute
      */2 * * * * root /opt/elasticbeanstalk/hooks/appdeploy/post/rake.sh cron:two_minutes
      */3 * * * * root /opt/elasticbeanstalk/hooks/appdeploy/post/rake.sh cron:three_minutes
