commands:
  01_add_postgres96_repository:
    test: "[ $(yum repolist all | grep -c ^pgdg96) -eq 0 ]"
    command: 'sudo yum install -y https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-6-x86_64/pgdg-ami201503-96-9.6-2.noarch.rpm'
  02_remove_postgres92:
    test: 'rpm -q postgresql92'
    command: 'sudo yum remove -y postgresql92'
  03_remove_postgres92_libs:
    test: 'rpm -q postgresql92-libs'
    command: 'sudo yum remove -y postgresql92-libs'
  04_remove_postgres95:
    test: 'rpm -q postgresql95'
    command: 'sudo yum remove -y postgresql95'
  05_remove_postgres95-devel:
    test: 'rpm -q postgresql95-devel'
    command: 'sudo yum remove -y postgresql95-devel'
  06_remove_postgres95_libs:
    test: 'rpm -q postgresql95-libs'
    command: 'sudo yum remove -y postgresql95-libs'
